/* ===== ABOUT ME ===== */

.section {
  padding: 90px 12%;
  text-align: center;
}

.section h2 {
  font-size: 2.3rem;
  margin-bottom: 20px;
  color: #22d3ee;
}

.section p {
  font-size: 1rem;
  opacity: 0.85;
}
